APP_SECRET=
VERIFY_TOKEN=

# New OAuth vars
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
NEXT_PUBLIC_REDIRECT_URI=

NEXT_PUBLIC_FB_APP_ID=
# Database (we'll use JSON file for simplicity)
USER_DATA_FILE=users.json